#header{
    position: relative;
    top: 20px;
    width: 500px;
    height: 140px;
    margin: auto;
}

/********************************************/

#container{
    font-family: 'Terminal', 'Arial', 'sans-serif';
    position: relative;
    top: 20px;
    z-index: 0;
    width: 500px;
    height: 534px;
    margin: auto;
}

/********************************************/

#stats{
    background: url('assets/stats.png');
    right: 7px;
    position: relative;
    z-index: 1000;
    width: 520px;
    height:104px;
   /* margin: auto;*/
}

#meter, #meter-label, #currency{
    margin-left: 30px;
    margin-top: 45px;
    display: inline-block;
}

/********************************************/

#meter, #meter-label{
    display: inline-block;
}

#heart-one, #heart-two, #heart-three{
    background: url('assets/heart.png');
    width: 62px;
    height: 48px;
    display: inline-block;
}

/********************************************/

#snow-icon, #snow-label{
    display: inline-block;
}

#snow-icon{
    background: url('assets/snow.png');
    width: 43px;
    height: 42px;
}

/********************************************/

#speech-box{
    background: url('assets/talk.png');
    position:relative;
    z-index: 1000;
    height: 124px;
    width: 500px;
    top: 320px;
}

#text{
    position:absolute;
    margin-left: 20px;
}
/********************************************/

#inventory{
    background: url('assets/sidebar.png');
    position: relative;
    z-index: 500;
    float: left;
    background-color: aquamarine;
    width: 80px;
    height: 320px;
    bottom: 124px;
}

.toggle-div{
    display: none;
}

#decor-btn, #food-btn, #toys-btn{
    margin-bottom: 10px;
    margin-left: 8px;
}

/********************************************/

#food-btn{
    background: url('assets/food.png');
    margin-top: 105px;
    width: 62px;
    height: 30px;
}

#food-menu{
    display: none;
    position: absolute;
    z-index: 2000;
    width: 250px;
    height: 240px;
    left: 125px;
    top: 150px;
    background: url('assets/food-menu.png');
}

.store-items{
    display: inline-block;
    position: relative;
    margin-top: 5px;
    top: 35px;
    left: 20px;
}

#store-item-one{
    height: 67px;
    width: 67px;
    background-color: red;
   
}
#store-item-two{
    height: 67px;
    width: 67px;
    background-color: orange;
    
}

#store-item-three{
    height: 67px;
    width: 67px;
    background-color: yellow;
    
}

#store-item-four{
    height: 67px;
    width: 67px;
    background-color: green;   
}

#store-item-five{
    height: 67px;
    width: 67px;
    background-color: blue;   
}

#store-item-six{
    height: 67px;
    width: 67px;
    background-color: purple;   
}


/********************************************/
#tic-tac-toe-menu{
    display: none;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 2000;
    width: 250px;
    height: 240px;
    left: 125px;
    top: 150px;
    background: url('assets/tic-tac-toe/tic-tac-toe-menu.png');
}

#difficulty{
    display: none;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: absolute;
    z-index: 2001;
    width: 150px;
    height: 80px;
    left: 50px;
    top: 80px;
    background-color: rgb(107, 183, 221);
}

.difficulty-btn{
    background-color: purple;
    width: 58px;
    height: 34px;
    margin: 4px;
}

#easy-btn{
    background: url('assets/tic-tac-toe/easy-btn.png');
}

#hard-btn{
    background: url('assets/tic-tac-toe/hard-btn.png');
}

#board{
    margin-top: 7px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 182px;
    height: 182px;
    background-color: rgba(255, 255, 0, 0);
}

.box{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 1px;
    width: 58px;
    height: 58px;
    background-color: rgba(245, 137, 158, 0);
}

#disable-buttons{
    display: none;
    position: absolute;
    z-index: 1999;
    width: 500px;
    height: 500px;
    background-color: rgba(230, 230, 250, 0);
}

/********************************************/

#toys-btn{
    background: url('assets/toys.png');
    width: 62px;
    height: 30px;
}

#toys-menu{
    display: none;
    position: absolute;
    z-index: 3000;
    width: 250px;
    height: 240px;
    left: 125px;
    top: 150px;
    background: url('assets/toys-menu.png');
}

/********************************************/

#decor-btn{
    background: url('assets/decor.png');
    width: 62px;
    height: 30px;
}

#decor-menu{
    display: none;
    position: absolute;
    z-index: 2000;
    width: 250px;
    height: 240px;
    left: 125px;
    top: 150px;
    background: url('assets/decor-menu.png');
}

/********************************************/

#actions{
    background: url('assets/sidebar.png');
    position: relative;
    z-index: 500;
    float: right;
    background-color: yellow;
    width: 80px;
    height: 320px;
    bottom: 124px;
}

#eat-btn, #play-btn, #furnish-btn{
    margin-bottom: 10px;
    margin-left: 8px;
}

#eat-btn{
    background: url('assets/eat.png');
    margin-top: 105px;
    width: 62px;
    height: 30px;
}

#eat-menu{
    display: none;
    position: absolute;
    z-index: 2000;
    width: 250px;
    height: 240px;
    left: 125px;
    top: 150px;
    background: url('assets/eat-menu.png');
}

#play-btn{
    background: url('assets/play.png');
    width: 62px;
    height: 30px;
}

#play-menu{
    display: none;
    position: absolute;
    z-index: 2000;
    width: 250px;
    height: 240px;
    left: 125px;
    top: 150px;
    background: url('assets/play-menu.png');
}


#furnish-btn{
    background: url('assets/furnish.png');
    width: 62px;
    height: 30px;
}

#furnish-menu{
    display: none;
    position: absolute;
    z-index: 2000;
    width: 250px;
    height: 240px;
    left: 125px;
    top: 150px;
    background: url('assets/furnish-menu.png');
}

/********************************************/
#back-button{
    z-index: 5000;
    width: 29px;
    height: 12px;
    top: 374px;
    left: 140px;
    background: url('assets/back.png');
    display: none;
    position: absolute;
}
#back-button-2{
    z-index: 5000;
    width: 29px;
    height: 12px;
    top: 374px;
    left: 140px;
    background: url('assets/back.png');
    display: none;
    position: absolute;
}
/********************************************/
@keyframes center {}

@keyframes center-to-right {
    0% { transform: translateX(0); }
    100% { transform: translateX(170%); }
}

@keyframes right-to-center {
    0% { transform: translateX(170%); }
    100% { transform: translateX(0); }
}

@keyframes center-to-left {
    0% { transform: translateX(0); }
    100% { transform: translateX(-170%); }
}

@keyframes left-to-center {
    0% { transform: translateX(-170%); }
    100% { transform: translateX(0); }
}

#penguin{
    z-index: 1000;
    position: absolute;
    background: url('assets/penguin/penguin_front.png');
    left: 205px;
    bottom: 140px;
    width: 80px;
    height: 96px;
    animation: center 3s linear ; /* Adjust duration and timing function as needed */
}


/********************************************/

#main{
    position: relative;
    z-index: 0;
    background: url('assets/main.png');
    width: 340px;
    height:320px;
    bottom: 124px;
    margin: auto;
}