#header{
    position: relative;
    top: 20px;
    width: 500px;
    height: 140px;
    margin: auto;
}

/********************************************/

#container{
    position: relative;
    top: 20px;
    z-index: 0;
    width: 500px;
    height: 534px;
    margin: auto;
}

/********************************************/

#stats{
    background: url('assets/stats.png');
    right: 7px;
    position: relative;
    z-index: 1000;
    width: 520px;
    height:104px;
    margin: auto;
}

#meter, #currency{
    margin-top: 50px;
    display: inline-block;
}

#heart{
    display: inline-block;
}

/********************************************/

#talk{
    background: url('assets/talk.png');
    position:relative;
    z-index: 1000;
    height: 124px;
    width: 500px;
    top: 320px;
}

/********************************************/

#inventory{
    background: url('assets/sidebar.png');
    position: relative;
    z-index: 500;
    float: left;
    background-color: aquamarine;
    width: 80px;
    height: 320px;
    bottom: 124px;
}

/********************************************/

#actions{
    background: url('assets/sidebar.png');
    position: relative;
    z-index: 500;
    float: right;
    background-color: yellow;
    width: 80px;
    height: 320px;
    bottom: 124px;
}

/********************************************/

#main{
    position: relative;
    z-index: 0;
    background-color: rgb(255, 0, 234);
    width: 340px;
    height:320px;
    bottom: 124px;
    margin: auto;
}