

#header{
    position: relative;
    top: 20px;
    width: 500px;
    height: 140px;
    margin: auto;
}

/********************************************/

#container{
    font-family: 'Terminal', 'Arial', 'sans-serif';
    position: relative;
    top: 20px;
    z-index: 0;
    width: 500px;
    height: 534px;
    margin: auto;
}

/********************************************/

#stats{
    background: url('assets/stats.png');
    right: 7px;
    position: relative;
    z-index: 1000;
    width: 520px;
    height:104px;
    margin: auto;
}

#meter, #meter-label, #currency{
    margin-left: 30px;
    margin-top: 45px;
    display: inline-block;
}

/********************************************/

#meter, #meter-label{
    display: inline-block;
}

#heart{
    background: url('assets/heart.png');
    width: 64px;
    height: 48px;
    display: inline-block;
}

/********************************************/

#snow-icon, #snow-label{
    display: inline-block;
}

#snow-icon{
    background: url('assets/snow.png');
    width: 43px;
    height: 42px;
}

/********************************************/

#talk{
    background: url('assets/talk.png');
    position:relative;
    z-index: 1000;
    height: 124px;
    width: 500px;
    top: 320px;
}

/********************************************/

#inventory{
    background: url('assets/sidebar.png');
    position: relative;
    z-index: 500;
    float: left;
    background-color: aquamarine;
    width: 80px;
    height: 320px;
    bottom: 124px;
}

#store, #food, #toys{
    margin-bottom: 10px;
    margin-left: 8px;
}

#store{
    background: url('assets/store.png');
    margin-top: 105px;
    width: 62px;
    height: 30px;
}

#food{
    background: url('assets/food.png');
    width: 62px;
    height: 30px;
}

#toys{
    background: url('assets/toys.png');
    width: 62px;
    height: 30px;
}

/********************************************/

#actions{
    background: url('assets/sidebar.png');
    position: relative;
    z-index: 500;
    float: right;
    background-color: yellow;
    width: 80px;
    height: 320px;
    bottom: 124px;
}

#eat, #play, #dance{
    margin-bottom: 10px;
    margin-left: 8px;
}

#eat{
    background: url('assets/eat.png');
    margin-top: 105px;
    width: 62px;
    height: 30px;
}

#play{
    background: url('assets/play.png');
    width: 62px;
    height: 30px;
}

#dance{
    background: url('assets/dance.png');
    width: 62px;
    height: 30px;
}

/********************************************/

#main{
    position: relative;
    z-index: 0;
    background-color: rgb(255, 0, 234);
    width: 340px;
    height:320px;
    bottom: 124px;
    margin: auto;
}